@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>I created this fake social networking site for my class, Web Application Engineering. The assignment was to create a fake social networking or dating website. I loves cats, so I thought this would be the purrfect opportunity to make a website about cats!</p>
