@{
    ViewBag.Title = "Meow Book";
}
<div class="jumbotron">
    <h1>Meow Book</h1>
    <p class="lead">The purrfect place for cats to catch up with old whiskers, and also meet new felines.</p>
    <p>@Html.ActionLink("Register Here!", "Register", "Account", null, new { @class = "btn btn-primary"})</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Check out these kitties live!</h2>
        <p>These cute kitties are feeling lonely. Check them out!</p>
        <iframe width="355" height="200" src="http://www.ustream.tv/embed/2298576?html5ui" allowfullscreen webkitallowfullscreen scrolling="no" frameborder="0" style="border: 0 none transparent;"></iframe>
    </div>
    <div class="col-md-4">
        <h2>Recognize these cats down the street?</h2>
        <p>INSERT 3 CAT PROFILES HERE</p>
        <p><a class="btn btn-default" href="https://twitter.com/EmrgencyKittens?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Meeeeeeeow!</h2>
        <p>Meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow!!</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Kitten">Learn more &raquo;</a></p>
    </div>
</div>
